.Contact {
    min-height: calc( 100vh - 140px );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Contact .form > * {
    margin: 5px;
}

.Contact input {
    width: 300px;
    height: 35px;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid #ec008c;
}

.Contact input:focus {
    outline: none !important;
    border-bottom: 2px solid tomato;
}

.Contact textarea {
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
}

.Contact textarea:focus {
    outline: none !important;
}

.btn {
    text-align: center;
}

.btn > button {
    padding: 10px;
    border: none;
    background-color: #ec008c;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

.Contact h2 {
    margin-bottom: 20px;
}