.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 10px;
    margin-top: 20px;
}

.Footer > * {
    font-size: 20px;
    padding: 5px;
    margin: 0 10px;
    border-radius: 5px;
}

.Footer i:hover {
    color: #0070f3;
}
