.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.Home img {
  border-radius: 12px;
}

.Content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Content div {
  border: 1px solid rgb(187, 187, 187);
  padding: 30px;
  width: 400px;
  margin: 20px;
}

.Content div h2 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.Sub {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  
}

.Sub h1, .Sub span {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}